<%- include("header") -%>

<title>Register</title>
<link rel="stylesheet" type="text/css" href="login.css">

<div class="row">
	<h2 class="col-lg-12 col-md-12 col-sm-12">Sign up for Notes</h2>
	<div class="col-lg-6 col-md-6">
	<form action="/register" method="post">
		<div class="form-group">
			<input type="email" name="email" placeholder="Enter your email address" class="form-control">
		</div>
		<div class="form-group">
			<input type="password" name="password" placeholder="Enter your password" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-lg">Signup</button>
		</div>
	</form>
</div>
<div class="col-lg-6 col-md-6">
	<a href="/auth/google" class="btn btn-block btn-social btn-google btn-md"><i class="fab fa-google"></i>Sign-up with Google
	</a>
	<a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-md"><i class="fab fa-facebook-f"></i>Sign-up with Facebook</a>
	<a href="/auth/twitter" class="btn btn-block btn-social btn-twitter btn-md"><i class="fab fa-twitter"></i>Sign-up with Twitter</a>
</div>
</div>

	

</body>
</html>